html {
  --background-primary: #0d0c20;
  --background-secondary: #17162f;
  --background-tertiary: #2b2942;
  --background-success: #1d2b1d;
  --background-error: #2d1e1e;

  --border-primary: #343168;
  --border-primary-alpha: #34316888;
  --border-secondary: #575757;
  --border-tertiary: #a2a0c6;

  --text: #FFFFFF;
  --text-success: #1bae1b;
  --text-error: #ae1b1b;
}

body {
  margin: 0;
  padding: 0;
}

input, span, p, h1 {
  font-family: 'Times New Roman', Arial, serif;
}
